# ---------------------------------------------------------------------
# Python linting
pycodestyle
pylint
# ---------------------------------------------------------------------
# Python formatting
autopep8
# ---------------------------------------------------------------------
# Python unit testing
pytest
# ---------------------------------------------------------------------
# Console output
rich
# ---------------------------------------------------------------------
# Configuration loader
pyyaml
# ---------------------------------------------------------------------
requests
flask
sqlalchemy
pydantic
# ---------------------------------------------------------------------